* {
  box-sizing:border-box;
}
html {
  height:100vh;
}
body {
  height:100vh;
  font-family: sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #000;
}

p, h2{
  color: #fff;
  margin-left: 50px;
}
 
p{
  text-align: inherit;
  margin-bottom: 10px;

}
section{
width: 1000px;
height: 400px;
border: 1px solid #02FDB5;
box-sizing: border-box;
box-shadow: 0px 0px 7px 1px #02FDB5;
border-radius: 4px;
}

img{
  max-width: 40%;
  max-height: 40%;
  object-fit: contain;
  float: right;
  margin-top: -249px;
}
h1{
color: #000;
font-size: 40px;
-webkit-text-stroke: 1px #02FDB5; 
text-shadow: 0px 2px 10px #02FDB5;
font-weight: bold;
font-style: italic;
text-transform: uppercase;
text-align: center;
}

h3{
  color: #000;
  font-size: 40px;
  -webkit-text-stroke: 1px #02FDB5; 
  text-shadow: 0px 2px 10px #02FDB5;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-left: 50px ;
  }
.github{
  float: left;
}
.linkedin{
  float: left;
}
a{
  text-decoration: none;
  color: inherit;
}